.bg{
    background: linear-gradient(130deg, #202a6a 10%, #011c1f 51%, #3c066e 75%);
   overflow: hidden;
    opacity: .6;
    box-shadow: 20px 10px 20px 16px rgba(129, 16, 16, 0.2);
}
.bgg{
    /* background: linear-gradient(141deg, #351810 0%, #02064e 51%, #043306 75%); */
    background:linear-gradient(20deg, #012340 0%, #021641 51%,
    #012340 87%);
    /* background: #182625; */
    opacity: 1;
    overflow: hidden;
    /* box-shadow: 20px 10px 20px 16px rgba(169, 27, 27, 0.2);  */
}



.content {
    position: relative;
  }
  .screen {
      display: block;
      width: 100%;
      height: 200px;
      overflow: hidden;
      position: relative;
      border: 2px solid #b3b3b3;
      border-radius: 6px;
      margin: 0 auto;
  }
  .screen img {
      top:0px;
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 0;
    margin:0;
    padding:0;
      -webkit-transition: bottom 6s;
      -moz-transition: bottom 6s;
      -ms-transition: bottom 6s;
      -o-transition: bottom 6s;
      transition:top 6s;
  }
  .screen:hover img {
    top: -600px;
    -webkit-transition: all 6s;
    -moz-transition: all 6s;
    -ms-transition: all 6s;
    -o-transition: all 6s;
    transition: all 6s;
  }